*{
    margin:0px;
    padding: 0px;
   box-sizing: border-box;
}
body{
    background-color: red;
}
.container{
    height: 100vh;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 60%;
    background-color: brown;
}

#choose_mode{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: yellow;
    height: 100px;
    width: 500px;
}